:root {
    --blue-orange-font-family: 'Open Sans', sans-serif;
    --blue-orange-font-color: #393939;
    --blue-orange-toolbar-icon-color: #393939;
    --blue-orange-toolbar-background: #FFFFFF;
    --blue-orange-toolbar-border-color: #E0E1E2;
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}

.shadow{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.blue-orange-editor{
    font-family: var(--blue-orange-font-family);
    outline: none;
}

.blue-orange-editor-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    min-height: 40px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid var(--blue-orange-toolbar-border-color);
    background-color: var(--blue-orange-toolbar-background);
}

.blue-orange-editor-controls-bubble{
    position: fixed;
    z-index: 100000 !important;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--blue-orange-toolbar-background);
}

.blue-orange-editor-control{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--blue-orange-toolbar-icon-color);
}

.blue-orange-editor-floater{
    position: fixed;
    z-index: 100000 !important;
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.blue-orange-editor-floater-error{
    background-color: #FADBD8;
    color: #E74C3C;
}

.blue-orange-editor-floater-error .blue-orange-editor-control{
    background-color: #FADBD8;
    color: #E74C3C;
}


.blue-orange-editor-floater-input{
    height: 40px;
    font-family: var(--blue-orange-font-family);
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    width: 250px;
}

.blue-orange-editor-floater-error .blue-orange-editor-floater-input{
    background-color: #FADBD8;
    color: #E74C3C;
}

.blue-orange-editor-selection{
    background-color: #c8c8c8;
    display: inline;
}

.blue-orange-editor-equation{
    display: inline-block;
    padding: 2px;
    opacity: 0.6;
    vertical-align:middle;
}

.blue-orange-editor-equation > * {
    vertical-align:middle;  // Align children to middle of line
}

.blue-orange-editor-equation i{
    margin-right: 10px;
}

.blue-orange-editor-equation-cont{
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.katex{
    display: inline-block;
}

blockquote {
    padding-left: 1rem;
    border-left: 3px solid rgba(13,13,13,.1);
}

.blue-orange-color-input{
    height: 20px;
    width: 20px;
    border: none;
    padding: 0;
}
